<div class="inner-margin-t-3">
    <nz-card class="center v-size-3" [nzTitle]="cardTitle">
        <ng-template #cardTitle>
            <div class="txt-center">
                <h2 nz-typography>Betbox</h2>
            </div>
        </ng-template>
        <form nz-form [formGroup]="loginForm" (ngSubmit)="login()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Informe seu email">
                    <nz-input-group nzPrefixIcon="mail">
                        <input type="email" nz-input formControlName="userMail" placeholder="Email" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Informe sua senha">
                    <nz-input-group nzPrefixIcon="lock" [nzSuffix]="passwordViewIconTemplate">
                        <input [type]="visiblePassword ? 'text' : 'password'" nz-input formControlName="userPassword" placeholder="Senha" />
                    </nz-input-group>
                    <ng-template #passwordViewIconTemplate>
                        <span nz-icon *ngIf="visiblePassword" [nzType]="'eye-invisible'" (click)="visiblePassword = !visiblePassword" class="clickable"></span>
                        <span nz-icon *ngIf="!visiblePassword" [nzType]="'eye'" (click)="visiblePassword = !visiblePassword" class="clickable"></span>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <button nz-button nzBlock [nzType]="'primary'">Login</button>
            <div class="txt-center inner-margin-t-1">
                <a [routerLink]="['/user-registration']">Cadastre-se</a>
            </div>
        </form>
    </nz-card>
</div>